body {
	min-width: 1200px;
	font-family: "Arial", sans-serif;
	color:  #545454;
	font-size: 15px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

label, 
button, 
input, 
select { 
    cursor: pointer; 
}

a {
	text-decoration: none;
}

h1,
h2, 
h3 {
	font-weight: inherit;
}
