@import "normalize";
@import "variables";
@import "scaffolding";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/cozy-house"; 
@import "blocks/friends"; 
@import "blocks/help"; 
@import "blocks/donation"; 
@import "blocks/page-footer"; 
@import "blocks/modal-content"; 
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme";
