.cozy-house {
  display: flex;
  width: 836px;
  margin: 0 auto;
  padding: 82px 0 91px;
}

.cozy-house__img {
  min-width: 300px;
}

.cozy-house__description {
  padding-left: 120px;
}


.cozy-house__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2px;
}

.cozy-house__text {
  margin-bottom: 23px;
  color: #4c4c4c;
  line-height: 24px;
  letter-spacing: -0.2px;
}