.friends {
  text-align: center;
  background-color: #f6f6f6;

  &--padding {
    padding: 37px 0 60px;
  }
}

.friends__wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 43px 0 66px;
}

.friends__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2px;
}

.friends__list {
  display: flex;
  justify-content: space-between;
  width: 930px;
  margin: 0 auto;
  padding: 34px 10px;
  list-style: none;

  &--width {
    flex-wrap: wrap;
    width: 1190px;
    padding: 34px 10px 27px;
  }
}

.friends__item {
  padding-bottom: 31px;
  border-radius: 9px;
  background-color: #fafafa;
  overflow: hidden;
  transition: all 0.4s ease;

  &--margin {
    margin-bottom: 37px;
  }

  &:hover {
    box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
  }
  
  &:hover .friends__img{
    transform: scale(1.2);
  }
}

.friends__img{
  min-width: 270px;
  transform: scale(1);
  transition: all 0.4s ease;
}

.friends__name {
  font-family: Georgia;
  font-size: 20px;
  letter-spacing: 1px;
}

.friends__link {
  padding: 16px 43px;
  font-family: Georgia;
  color: #292929;
  font-size: 17px;
  letter-spacing: 1px;
  border: 2px solid #f1cdb3;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.4s ease;

  &:hover {
    background-color: #f1cdb3;
  }
}

.friends__arrow {
  position: absolute;
  top: 49%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  transition: all 0.4s ease;

  &--left {
    left: 0;

    &:hover {
      left: -10px;
    }
  }

  &--right {
    right: 0;
    transform: rotate(180deg);

    &:hover {
      right: -10px;
    }
  }

  &:hover {
    background-color: #f1cdb3;
  }
}

.friends__icon {
  width: 15px;
  height: 15px;
}

.friends__btn {
  padding: 0 44px; 
  margin-top: 31px;
  font-family: Georgia;
  color: #292929;
  font-size: 17px;
  line-height: 57px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 50px;
  background-color: #f1cdb3;
  transition: all 0.4s ease;

  &:hover {
    background-color: #fddcc4;
  }
}

.friends__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.friends__page-item {
  margin: 0 7px;
}

.friends__button {
  width: 50px;
  height: 50px;
  font-family: 'Times New Roman';
  color: #292929;
  font-size: 20px;
  font-weight: 400;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background: transparent;
  transition: all 0.4s ease;

  &--active {
    background-color: #f1cdb3;
  }

  &:hover {
    background-color: #f1cdb3;
  }
}

.friends__ellipsis {
  color: #f1cdb3;
  font-size: xx-large;
  line-height: 0;
}