.help {
  padding: 35px 0;
}

.help__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 2px;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 1050px;
  margin: 0 auto;
  padding: 45px 0 0 22px;
  list-style: none;
}

.help__item {
  margin-bottom: 61px;
  text-align: center;

  &:first-child {
    margin-right: 116px;
  }

  &:nth-child(2) {
    margin-right: 122px;
  }

  &:nth-child(3) {
    margin-right: 130px;
  }

  &:nth-child(4) {
    margin-right: 101px;
  }

  &:nth-child(6) {
    margin-left: 101px;
  }

  &:nth-child(7) {
    margin-left: 117px;
  }

  &:nth-child(8) {
    margin-left: 115px;
  }

  &:last-child {
    margin-left: 106px;
  }
}

.help__icon {
  fill: #f2ceb5;
  width: 58px;
  height: 58px; 
}

.help__text {
  font-family: Georgia;
  font-size: 20px;
  letter-spacing: 1.4px;
}