.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  margin-top: 40px;
  font-family: Georgia;
  color: #f1cdb3;
  font-size: 35px;

  &--color {
    margin: 11px 0;
    color: #545454;
    cursor: pointer; 

    &:hover {
      color: #f1cdb3; 
    }
  }

  &--font-family {
    display: block;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 1.4px; 
  }

  &--color1 {
    color: #292929;
  }
}

.main-nav__logo--color:hover .main-nav__logo--color1, 
.main-nav__logo--color1:hover {
  color: #f1cdb3; 
}

.main-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.main-nav__item {
  padding-left: 37px;
}

.main-nav__link {
  color: #cdcdcd;
  line-height: 29px;
  border-bottom: 0 solid #f1cdb3;
  transition: all 0.4s ease;

  &:hover {
    padding-bottom: 6px;
    color: #ffffff;
    border-bottom: 3px solid #f1cdb3;
  }
  
  &--color {
    color: #545454;

    &:hover {
      color: #292929;
    }
  }

}

.main-nav__item:nth-child(2) .main-nav__link--active {
  padding-bottom: 6px;
  border-bottom: 3px solid #f1cdb3;
}